.swiper {
  width: 100%;
  height: 100%;
  position: relative;

}

.swiper-slide {
  display: flex;
  width: 210px !important;    
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}


@media (min-width: 1024px){
  .swiper {
    padding: 2.3rem 1rem;
  }

  .swiper::after {
    content: "";
    background: linear-gradient(90deg, rgba(0,10,15,1) 0%, rgba(0,10,15,0) 100%);
    position: absolute;
    border-radius: .8rem;
    width: 20%;
    height: 100%;
    z-index: 1;
    bottom: 0;
    left: 0;    
    

  }

  .swiper::before {
    content: "";
    background: linear-gradient(90deg, rgba(0.27,15,10,0) 0%, rgba(0,10,15,1) 100%);
    position: absolute;
    border-radius: .8rem;
    width: 20%;
    height: 100%;
    z-index: 2;
    bottom: 0;
    right: 0;  
    

  }

  .swiper-button-prev {
    display: flex;
    width: 77px;
    color: #fff;
  }

  .swiper-button-next {
    display: flex;
    width: 77px;
    color: #fff;
  }

  .swiper-slide {
    display: flex;
    width: 304px !important;
  }
}
  